<div id="content" class="row">
    <div class="small-11 small-centered large-centered columns">
        <div class="row">
            <div class="large-12 columns">
                <div class="large-12 columns">

                    <div class="row">
                        <div class="large-12 columns">
                            Please call on 27482828 to receive new password.
                            <a href="#">Go back to Home Page</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
