<div id="content" class="row">
    <div class="small-11 small-centered large-centered columns">
        <div class="row">
            <div class="large-12 columns">
                <div class="large-12 columns">
                    <div class="row">
                        <div class="large-12 columns">
                            Your registration will be activated within 24 hours. You will receive notification on registered mobile number.
                            <a href="#">Go back to Home Page</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
